* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: blue;
    margin: auto;
    margin-top: 100px;
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; /*faz a animação ir e voltar*/
    
    
}
@keyframes animation{
   0%{width: 400px;
   background: blue;
   }
   50%{width: 600px;
   height: 200px;
   background: cornflowerblue;
   }
   70%{width: 200px;
   background: orange;
   }
   100%{width: 50px;
   background: rgb(255, 30, 0);
   }
}
